.navbar {
    display         : flex;
    justify-content : center;
    padding         : 0px 65px;
    border-bottom   : 1px solid rgb(176, 166, 166, .5);
    position        : relative;
    align-items     : center;
    width           : 100%;
    height          : auto;
    position        : sticky;
    top             : 0px;
    z-index         : 1;
    background-color: #f6f6f6d8;

    .logo {
        flex   : 1;
        padding: 8px 0px;

        img {
            padding  : 0px 15px;
            max-width: 100%;
            height   : auto;
        }
    }
}