@mixin inputStyle {
    display   : block;
    width     : 100%;
    height    : 40px;
    margin    : 0px 0px 20px;
    border    : 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    outline   : none;
    padding   : 10px;
    font-size : 16px;
}

@mixin labelStyle {
    display: block;
    width  : 100%;
    height : 25px;
}

.text-right {
    text-align: right;
}

.pay-container {
    width  : 100%;
    height : 100%;
    padding: 30px 0px;
}

.pay-wrap {
    padding: 0px 15px 30px;
}

.pay-message {
    padding: 8px 0px;
}


.pay-coupon {
    border       : 2px dashed #D35400;
    padding      : 15px 30px 30px;
    margin-bottom: 20px;

    p {
        margin-bottom: 10px;
    }

    .enter-coupon {
        width : 100%;
        height: auto;

        input {
            width     : 90%;
            height    : 40px;
            padding   : 0px 0px 0px 8px;
            outline   : none;
            font-size : 18px;
            border    : 1px solid #ddd;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

            &:hover {
                box-shadow: none;
            }
        }

        .submit {
            height          : 40px;
            background-color: #D35400;
            border          : none;
            padding         : 0px 14px;
            font-size       : 18px;
            color           : white;
            cursor          : pointer;
            transition      : .3s;

            &:hover {
                background-color: #b34903;
            }
        }
    }
}



.pay-main {
    display   : flex;
    text-align: left;

    h3 {
        font-weight  : 100;
        margin-bottom: 10px;
    }
}

.pay-left {
    flex   : 1.5;
    width  : 100%;
    height : auto;
    padding: 0px 15px 30px 0px;
}

.billing-info {
    width     : 100%;
    height    : auto;
    border-top: 2px solid #ddd;
    padding   : 20px 0px;


    .info-item {
        label {
            @include labelStyle();
        }

        input {
            @include inputStyle();
        }
    }
}

.info-phonenumber {
    input {

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin            : 0;
        }
    }
}

.info-message {
    label {
        @include labelStyle();
    }

    textarea {
        width     : 100%;
        height    : 120px;
        padding   : 10px;
        border    : 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        outline   : none;
        padding   : 10px;
        font-size : 16px;
        color     : #717171;

        &:hover {
            box-shadow: none
        }
    }
}

.pay-right {
    flex   : 1;
    width  : 100%;
    height : 400px;
    padding: 15px 30px 30px;
    border : 2px solid #D35400;

    th,
    td {
        font-weight: 100;
        padding    : 8px 0px;
    }


}


.order-table {
    width          : 100%;
    height         : auto;
    border-collapse: collapse;
    margin-bottom  : 20px;
}

.order-product {
    color    : #999797;
    font-size: 18px;
}

.order-header,
.order-total {
    border-bottom: 2px solid #ddd;
}

.order-product,
.order-subtotal {
    border-bottom: 1px solid #ddd;
}

.checkout-payment {
    button {
        background-color: #D35400;
        margin          : 20px 0px;
        color           : white;
        border          : none;
        height          : 40px;
        padding         : 0px 16px;
        font-size       : 16px;
        transition      : .3s;
        cursor          : pointer;

        &:hover {
            background-color: #b34903;
        }
    }

    p:nth-child(2) {
        color: #717171;
    }
}

.policy-link {
    a {
        color: #717171;
    }
}