.blog {
    width   : 100%;
    position: relative;
    height  : auto;
    padding : 30px 0px;
}

.header-blog {
    position: relative;
    padding : 0px 0px 30px;

    h2 {
        text-align : center;
        font-weight: 100;
    }
}

.blog-container {
    position: relative;
    width   : 100%;
    height  : auto;
}

.blog-wrapper {
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
    width      : 1225px;
    height     : 730px;
    margin     : auto;

    .blog-item {
        width     : 33.3%;
        padding   : 0px 15px 30px;
        text-align: left;

        .item-image>img {
            width : 100%;
            height: auto;
        }

        .item-text {
            padding: 10px 0px 20px;


            h4 {
                margin: 2px 0px;
            }

            p {
                font-size: 14px;
                margin   : 2px 0px;
            }

        }
    }
}