.nav_right {
    flex: 2;
}

.nav_right-menu {
    display        : flex;
    justify-content: flex-start;

    li {
        padding: 10px;
    }
}


.icon-search {
    position: relative;

    i {
        font-size: 20px;
    }

    &:hover .input-search {
        visibility      : visible;
        transition-delay: .3s;
        top             : 40px;
    }
}


.input-search {
    position        : absolute;
    border          : 1px solid rgb(244, 243, 243);
    background-color: #fff;
    box-shadow      : 1px 1px 15px rgb(0 0 0 / 15%);
    padding         : 20px;
    visibility      : hidden;
    z-index         : 1;
    top             : 60px;
    transition      : .3s;

    li {
        display: flex;
        padding: 0;

        input {
            padding   : 8px 16px;
            border    : 1px solid #ddd;
            box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
            outline   : none;
        }

        i {
            background-color: #000000;
            color           : white;
            padding         : 8px 16px;
        }
    }
}

.nav_right-sign {
    padding-right: 16px;
    border-right : 1px solid rgb(170, 162, 162);
}

.cart>ul>li {
    position        : absolute;
    font-size       : 11px;
    border          : 1px solid rgb(170, 162, 162);
    background-color: #fff;
    padding         : 4px 2px;
    margin          : 4px;
    visibility      : hidden;
}

.cart:hover.cart>ul>li {
    visibility      : visible;
    transition-delay: .5s;
}

.on-request>a {
    padding         : 7px 20px;
    background-color: #D35400;
    color           : white;

    span {
        font-size: 13px;
    }
}